html {
    background: linear-gradient(to bottom, #780206, #061161);
    background: linear-gradient(to bottom, #000024, #000000);
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 70%;
    height: 100%;
    width: 100%;
  }
  body {
    height: 100%;
    width: 100%;
  }
  div#particles-js {
    height: 100%;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    width: 100%;
  }
  div.center {
    position: absolute;
    top: 10%;
    height: 20%;
    left: 0%;
    right: 0%;
    text-align: center;
  }
  div.center a {
    text-align: center;
    font-size: 1.5rem;
    padding: 2%;
  }
  div.center a.button {
    float: center;
    bottom: 0%;
    background-color: rgba(255,255,255,0.05);
    margin: 2% 1% 1% 1%;
    padding: 1% 1%;
    color: #ffffff;
    font-size: 1.5rem;
    text-decoration: none;
  }
  h1 {
    position: relative;
    margin: -1% 0% 0% 0%;
    text-align: center;
    font-size: 5rem;
  }
  div.content {
    float: center;
    position: fixed;
    bottom: 0%;
    height: 50%;
    right: 5%;
    left: 5%;
    padding: 0% 0%;
    text-align: justify;
    font-size: 1rem;
  }
  a.blog-entry {
    display: inline-block;
    text-align: center;
    width: 60%;
    height: 10%;
    border-radius: 5px;
    padding: 2% 2%;
    margin: 1% 0% 0% 15%;
    font-size: 1.1rem;
    background-color: rgba(255,255,255,0.05);
    color: #ffffff;
    text-decoration: none;
  }
  div.blog-content {
    position: absolute;
    width: 80%;
    top: 25%;
    display: inline-block;
    left: 50%;
    padding: 0% 2% 2% 2%;
    overflow-y: auto;
    height: 60%;
    text-align: justify;
    transform: translate(-50%, 0%);
    justify-content: center;
  }
  div.blog-title {
    position: absolute;
    top: 10%;
    width: 100%;
    padding: 0% 2% 2% 0%;
    text-align: center;
  }
  div.blog-title h1 {
    text-align: center;
    font-size: 1.5rem;
  }
  div.blog-title a {
    font-size: 1.3rem;
    text-align: center;
    padding: 0% 2% 2% 0%;
  }
  div.blog-title a.button {
    float: center;
    position: absolute;
    background-color: rgba(255,255,255,0.05);
    border-radius: 5px;
    margin: 2% 2% 0% 0%;
    padding: 2% 2%;
    color: #ffffff;
    font-size: 1.5rem;
    text-decoration: none;
    transform: translate(-50%, 0%);
  }
  ::-webkit-scrollbar { 
    display: none; 
  }
  code {
    background-color: rgba(255,255,255,0.05);
    font-weight: bold;
  }
  